#contextMenu {
    position: absolute;
    border-top: 4px solid rgb(50, 190, 190);
    background-color: darkslategray;
    z-index: 2;
    min-width: 100px;
    min-height: 150px;
    max-height: 200px;
}

#contextMenu .option span {
    display: block;
    color: white;
    margin: 1px 0;
    padding: 2px 8px;
    cursor: pointer;
    width: 100%;
}

#contextMenu .option span:hover {
    background-color: rgb(66, 100, 100);
}

.subContextMenu {
    position: absolute;
    left: calc(100% + 2px);
    border-top: 4px solid rgb(50, 190, 190);
    background-color: darkslategray;
    min-width: 100px;
    min-height: 150px;
    max-height: 200px;
    overflow-y: auto;
}