* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}
  
.entity {
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    padding-top: 10px;
    border-radius: 100%;
    background-color: green;
    border: 2px solid black;
    text-align: center;
    cursor: move;

    /* transition: top .2s ease 0s, left .2s ease 0s;
    top: 0px;
    left: 0px; */
}

#lineel {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10;
    cursor: grab;
}

.invisible {
    display: none;
}