:root {
    --timer-time: 5s;
}

.notification {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 500px;
    min-height: 100px;
    background-color: darkslategray;
    font-size: 1.2em;
    color: white;
    /* display: flex;
    align-items: center; */
    padding: 15px;
}

.notification::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(64, 104, 104);
    animation: timer linear var(--timer-time) forwards;
}

.notification_error {
    background-color: rgb(180, 59, 59);
}

.notification_error::before {
    background-color: rgb(194, 84, 84);
}

.notification_info {
    background-color: rgb(122, 122, 177);
}

.notification_info::before {
    background-color: rgb(143, 143, 190);
}

@keyframes timer {
    100% {
        width: 0%;
    }
}